.zornet_ru a {
    display:block;
    width:100px;
    margin:auto;
    padding: 9px 17px;
    background:#3d9c3e;
    color:#fff!important;
    text-decoration:none;
    font-size:17px;
    text-align: center;
    border: 2px solid #c5baba;
    border-radius: 34px;
  }
  
  .zornet_ru a:hover {
    color:#fff!important;
    text-decoration:none!important;
    background:#38cc3a;
  }
body {

}
#x{
  position:fixed;
  bottom:0;
  width:200px
}